---
layout: layout
---

<style>
    #about-header{
        margin-top: 85px;
    }
    #about-header img{
        width: 145px;
    }
    .offer-body,
    .person-body,
    .project-body,
    .skills-body,
    .work-body,
    .learn-body{
        padding-left: 25px;
    }
    p{
        margin:0;
        font-size: 15px;
    }
    .body-section{
        padding-left: 15px;
    }
    #offer ul{
        margin-left: 20px;
        margin-bottom: 5px!important;
        border-left: 4px darkgray solid;
        padding-left: 8px;

    }
    li{
        list-style: none;
        font-size: 15px;

    }
    .title{
        color: #777;
    }
    .title>span{margin-right: 5px}
    .detail-info-xueli{
        display: block;
        padding-left: 70px;
    }


</style>

<!-- Chinese Version -->
<div class="zh post-container">
<    <div class="content" id="about-header"> 
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                <div>
                    <img  src="http://p3v455jfd.bkt.clouddn.com/idphoto.jpg"  style="border-radius: 50%;"/>
                </div>
                <div class="text-center">
                     <h2>王海栋</h2>
                    <p>iOS 开发工程师</p>
                </div>
            </div>
        </div>
        <!--正文-->
        <div class="row" id="offer">
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                <div class="work-experience">
                    <h3 class="title"> 工作经历</h3>
                    <p>
                        xxxxx
                    </p>
                    <div class="body-section">
                        <ul>
                            <li>1. xxxxx</li>
                            <li>2. xxxxx</li>
                            <li>3. xxxxx</li>
                        </ul>
                    </div>
                </div>
                <div class="project-show">
                    <h3 class="title"><span class="glyphicon glyphicon-folder-open"></span> 项目经验</h3>
                    <div class="project-body">
                        <ul>
                            <li>xxxxx</li>
                            <li>xxxxx</li>
                            <li>xxxxx</li>
                        </ul>
                    </div>
                </div>
                <div class="person-info">
                    <h3 class="title"><span class="glyphicon glyphicon-user"></span> 其他</h3>
                    <div class="person-body">
                        <p>学历: 硕士</p>
                        <p>个人博客: <a target="_blank" href="http://haojen.github.io/"> blog.hayden.fun <span class="glyphicon glyphicon-link"></span> </a></p>
                        <p>GitHub: <a target="_blank" href="http://github.com/haojen">http://github.com/wanghdnku <span class="glyphicon glyphicon-link"></span></a></p>
                        <p>爱好: 摄影、健身、户外运动、树莓派、乐高</p>
                    </div>
                </div>
                <div>
                    <h3 class="title">正在学习</h3>
                    <ul>
                        <li>xxxxx</li>
                        <li>xxxxx</li>
                        <li>xxxxx</li>
                    </ul>
                </div>
                <div class="contact-show">
                    <h3 class="title "> <span class="glyphicon glyphicon-earphone"></span> 联系我</h3>
                        <p>电话: 182-0377-0001</p>
                        <p>邮箱: wanghd.nku@gmail.com</p>
                </div>
            </div>
        </div></div>
</div>




